// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #fcc199;
$body-color: white;
$primary: lightsalmon;
$font-family-base: Arial;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

header {
  margin: 150px 0 50px 250px;
  font-family: Andale Mono;
}

p {
  text-align: right;
}

h2 {
  text-align: left;
  font-family: Andale Mono;
}

h3 {
  text-align: right;
  font-family: Andale Mono;
}

.container-md {
  margin-top: 70px;
  margin-left: 250px;
}

.card-title {
  text-align: right;
  font-family: Andale Mono;
  color: #fcc199;
}

.card-text {
  color: black;
}

.card-deck {
  margin: 50px 170px 50px 200px;
}

.nav-link {
  color: white;
  font-family: Andale Mono;
}

.card-deck {
  margin-top: 100px;
}

footer {
  margin-top: 50px;
  margin-left: 200px;
}

h6 {
  text-align: left;
  font-family: Andale Mono;
}

img {
  height: 350px;
  width: 100px;
  padding: 35px;
}
