// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #fcc199;
$body-color: white;
$primary: lightsalmon;
$font-family-base: Arial;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

header {
  margin: 150px 0 50px 250px;
  font-family: Andale Mono;
}

p {
  text-align: right;
}

h3 {
  text-align: right;
  font-family: Andale Mono;
}

.container-md {
  margin-left: 250px;
}

.card-title {
  text-align: right;
  font-family: Andale Mono;
  color: #fcc199;
}

.card-text {
  color: black;
}

.card-deck {
  margin-left: 150px;
  margin-right: 10px;
}
